#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=~/Documents/Manga-Releases-Tracker/tracker.py
Name=Minimalist Manga Chapter Release Tracker
Icon=
